<style>
    .back-button {
        margin-bottom: 20px;
    }

    .back-button a {
        color: #007bff;
        text-decoration: none;
        font-size: 1.2rem;
    }

    .back-button a:hover {
        color: #0056b3;
        text-decoration: underline;
    }
</style>

{% extends 'social_base.html' %}

{% block social_content %}
<div class="back-button">
    <a href="{% url 'listar_retos' %}">&larr; Volver</a>
</div>
<div class="container-fluid d-flex justify-content-center align-items-center" style="min-height: 90vh; padding-left: 0; padding-right: 0;">
    <div class="card p-4" style="max-width: 600px; width: 100%; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);">
        <h1 class="text-center mb-4">Crear Nuevo Reto</h1>
        <form method="post" enctype="multipart/form-data" class="mt-4">
            {% csrf_token %}
            <div class="mb-3">
                {{ form.as_p }}
            </div>
            <button type="submit" class="btn btn-primary w-100 py-2">Crear Reto</button>
        </form>
    </div>
</div>
{% endblock %}
